<div class="topbar">
  <a class="logo" routerLink="/">
    <img
      id="app-logo"
      src="assets/icons/chatbox-ellipses.svg"
      alt="ultima-layout"
      style="height: 2.25rem"
    />
  </a>
  <nav class="menu">
    <a href="#">Anderson Daniel Chavez</a>
    <a href="#">
      <img
        id="app-logo"
        src="assets/icons/create.svg"
        alt="ultima-layout"
        style="height: 1rem"
      />
      <span class="menu-text">Create Message</span></a
    >
    <a href="#">
      <img
        id="app-logo"
        src="assets/icons/send.svg"
        alt="ultima-layout"
        style="height: 1rem"
      />
      <span class="menu-text">My Messages</span></a
    >
    <a href="#">
      <img
        id="app-logo"
        src="assets/icons/chatbubbles-sharp.svg"
        alt="ultima-layout"
        style="height: 1rem"
      />
      <span class="menu-text">See all Mssages</span></a
    >
    <a href="#">
      <img
        id="app-logo"
        src="assets/icons/log-in-sharp.svg"
        alt="ultima-layout"
        style="height: 1rem"
      />
      <span class="menu-text">Logout</span></a
    >
  </nav>
  <div class="message-icon">
    <img
      id="app-logo"
      src="assets/icons/chatbox-ellipses.svg"
      alt="ultima-layout"
      style="height: 1.25rem"
    />
  </div>
  <div class="menu-btn">
    <img
      id="app-logo"
      src="assets/icons/menu.svg"
      alt="ultima-layout"
      style="height: 2.25rem"
    />
  </div>

  <!-- <a class="layout-topbar-mobile-button" (click)="appMain.onTopbarMobileButtonClick($event)" pRipple>
        <i class="pi pi-ellipsis-v fs-large"></i>
    </a> -->
</div>
