/* Estilo base para la topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #16212b;
  border-bottom: 1px solid #22374b;
  z-index: 999;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Estilo para el logo */
.topbar .logo {
  margin-right: auto;
}

.topbar .logo img {
  height: 40px;
}

/* Estilo para los enlaces del menú */
.topbar .menu a {
  display: none;

  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

/* Estilo para el primer enlace del menú */
.topbar .menu a:first-child {
  margin-left: 0;
}

/* Estilo para el botón de menú en pantallas pequeñas */
.topbar .menu-btn {
  display: none;
  cursor: pointer;
}

/* Estilo para el icono de mensaje */
.topbar .message-icon {
  margin-left: 20px;
  font-size: 24px;
}

.topbar .message-icon i {
  color: #fff;
}

.topbar .menu {
  display: block;
  position: absolute;
  top: 47px;
  right: 14px;
  background-color: #f3f4f8;
  /* padding: 20px; */
  flex-direction: column-reverse;
  border-radius: 2% 2% 1%;
}

.topbar .menu a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #141e26;
  padding: 12px;
}

.topbar .menu-btn {
  display: block;
}
