<div class="card">
  <div class="card-header">
    <h3 class="card-title">Título del mensaje</h3>
  </div>
  <div class="card-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget commodo
      leo. Nulla et mauris suscipit, dignissim leo sit amet, ultricies nulla.
      Morbi maximus fermentum porta. Suspendisse condimentum turpis felis, et
      posuere justo dapibus vel. Nulla sed odio purus. Donec pellentesque quam
      vehicula ante ullamcorper blandit. Orci varius natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Phasellus sed felis nunc.
      Nullam a velit erat. Vivamus interdum sapien vitae dui blandit vulputate.
      Praesent interdum, augue ac consectetur gravida, neque ligula feugiat
      elit, eu ultricies dui mauris a diam. Donec quis tempus quam. Sed blandit
      mi ipsum, in accumsan sapien finibus eget. Orci varius natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Curabitur quis
      tellus arcu. Fusce et laoreet orci.
    </p>
  </div>
  <div class="card-footer">
    <div class="card-footer-left">
      <p class="card-date"><em>2023-03-03 - 10:30:45.123</em></p>
    </div>
    <div class="card-footer-right">
      <p class="card-author">Autor del mensaje</p>
    </div>
  </div>
</div>
