.layout-wrapper {
  .layout-main {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;

    .layout-content {
      padding: 0.5rem;
      padding-top: 1rem;
      flex: 1 1 0;
    }
  }
}
