<!-- <div class="search">
  <input type="text" placeholder="Buscar..." />
  <button type="submit">
    <img
      id="app-logo"
      src="assets/icons/create.svg"
      alt="ultima-layout"
      style="height: 2.25rem"
    />
  </button>
</div>

<div class="date-input">
  <input type="date" id="date" name="date" />
</div> -->
<form style="padding-top: 25px">
  <div class="grid p-fluid">
    <div class="col-12 md:col-6">
      <label for="inputtext-right">What Search?</label>
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="I like Sports" pInputText />
      </span>
    </div>
    <div class="col-12 md:col-6">
      <label for="basic">Date select</label>
      <p-calendar inputId="basic" [showIcon]="true"></p-calendar>
    </div>
  </div>
</form>
